.wrapper {
    margin-left: 10px;
}

.dd-container {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
}

.dd-container.dd-open {
    border: 1px solid rgb(0, 0, 255);
}

.image-container,
.select {
    padding: 5px;
}

.image-container.dd-open {
    transform: rotate(180deg);
}

.image-container.dd-open,
.image-container.dd-closed {
    transition: .2s all ease;
}

ul {
    border: grey solid 1px;
    border-top: none;
    width: 200px;
    margin: 0;
    padding: 0;
}

.dd-item {
    list-style-type: none;
    text-align: left;
    padding: 5px 10px;
    cursor: pointer;
}
.selected {
    background: grey;
    color: white;
}

.dd-item:hover {
    background-color: lightgrey
}

.selected:hover {
    background-color: grey;
}

